* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --primary-color: #2563eb;
  --primary-dark: #1d4ed8;
  --secondary-color: #64748b;
  --success-color: #10b981;
  --warning-color: #f59e0b;
  --danger-color: #ef4444;
  --dark-color: #1f2937;
  --light-color: #f8fafc;
  --border-color: #e2e8f0;
  --shadow: 0 4px 6px -1px rgba(0, 0,0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0,0, 0.1);
  
}
/* Tudo que tiver o seletor "data-theme" igual a "dark"*/
[data-theme="dark"] {
  --bg-body: linear-gradient(135deg, #0f172a 0%, #1e293b 100%);
  --bg-surface: #1e293b;
  --text-primary: #f1f5f9;
  --text-secondary: #94a3b8;
  --border-color: #334155;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    min-height: 100vh;
    color: var(--dark-color);
}
